.user-transactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 90%;
    margin: 3rem auto;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 0.75rem;
  }

  .user-transactions-xmark {
    color: white;
    font-size: 4.5rem;
  }
  
  .user-transactions-amount {
    margin: 0.25rem 0;
    font-size: 2rem;
    font-weight: normal;
  }
  
  .user-transactions-amount-description {
    margin: 0;
    font-size: 0.75rem;
  }
  
  .user-transactions-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .user-transactions-content-wrapper {
    width: 100%;
    flex: 1;
  }

  @media (min-width: 720px) {
    .user-transactions {
      flex-direction: row;
    }
  
    .user-transactions-content-wrapper.cta {
      flex: 0;
    }
  }